*{margin : 0px; padding: 0px; text-decoration: none;
  background-attachment: fixed;}

  header{width: 100%; height: 140px; background-color: #000000;
    display: flex;justify-content: center;align-items: center;}
  nav{width: 1280px; height: 145px;padding-top: 90px;}
  nav > ul {display: grid;grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
    height:86px;}
  nav > ul > li{ display: flex; justify-content: center;align-items: center;
    list-style: none;font-family: 'Noto Sans KR',sans-serif; font-weight: 700;}
  nav > ul > li > a{color: #EC672D;}
  nav > ul > li > a:hover{color: #6583B3;
transform: scale(1.1); transition: 0.1s;}
    .top_padding{padding-top:40px;}


  #myVideo {position: fixed;right: 0;top: 0;min-width: 80%;min-height: 100%;}
    .content {position: fixed;background: #000;opacity: 90%;width: 90%;height: 100%;}
    .wrap{position: fixed;width: 80%;height: 100%;display: flex;justify-content:
      center;align-items: center;}
    .bt{position: fixed;bottom: 15px;left: 50%;transform: translateX(-50%);}
.promotion{width: 100%; height: 790px;}
.prom_img{border: 0px solid red;
  position: absolute;display: inline-block;
left: 20%;top:60%;}


.cont1{width: 100%;height: 3500px;background-image:
    url('img/00_04.png');}
.cont1_img{position: absolute;right;padding-top: 400px;}
.cont2_img{display: inline-block;;position: relative; left:1341px; top:1016px;}
.cont3_img{position:relative;top: 1140px;width: 100%;height: 250px;
border: 0px solid red; display: flex;justify-content: space-around;}
.cont3_img > a > img{transition: 0.5s;}
.cont3_img > a > img:hover{transform: scale(1.1);transition: 0.5s;}
.media {display: flex;justify-content: center; padding-top: 100px;}
.cont4_img{position: relative;top:1900px;}
.cont5_img{position: relative;top: 1900px;}

footer{background-color: black; width: 100%;height: 222px;}
.footer_img{display: flex;justify-content: center; padding-top: 45px;}
.footer_text{display: flex; justify-content: center;color: #FF9924;padding-top: 25px;}
